<div class="container">
    <div class="row align-items-center justify-content-center">
  <div class="col-md-8">
    <div class="card mb-8 box-shadow">
        <img class="card-img-top" src="<%= @img %>" data-holder-rendered="true">
      </a>
    </div>
  </div>
  <br>
  <%= link_to "back to all photos" , @back ,:class => "btn btn-primary col-md-8" %>
</div>
</div>