<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">
        <%= @user.username %> pictures
      </h1>
      <p class="lead text-muted">Your beautiful Instagram gallery</p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <% @pictures.each_with_index do |pic, index| %>

          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <a href="/imageEnlarge?img=<%= pic.images.standard_resolution.url %>">
                <img class="card-img-top" alt="Thumbnail [100%x225]" style="height: 350px; width: 100%; display: block;" src="<%= pic.images.standard_resolution.url %>"
                  data-holder-rendered="true">

              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-muted">
                    <%= Time.at(pic.created_time.to_i).strftime("%B %e, %Y at %I:%M %p")  %>
                  </small>
                </div>
              </div>
            </div>
          </div>

          <% end %>
      </div>
    </div>
  </div>
</main>