<body>
  <main role="main">
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Your beautiful photos</h1>
        <p class="lead text-muted">Connect with Instagram to see your gorgeous photos.</p>
        <p>
          <a href="/welcome/authorize" class="btn btn-primary my-2">Connect with Instagram</a>
        </p>

    </section>
    <div class="container-fluid">
      <div class="row">
        <% @demo_pics.each do |pic| %>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" alt="Thumbnail [100%x225]" style="height: 350px; width: 100%; display: block;" src="<%= pic %>"
              data-holder-rendered="true">
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </main>
</body>

</html>